
<p>Your Bubble Tea of the day is </p>
<h2 class="name">{{this.name}}</h2>
<h3> Type: {{this.type}}</h3>
<p>Toppings: {{this.toppings}}</p>
<p>Ice Level: {{this.ice}}</p>
<p>Sugar Level: {{this.sugar}}</p>
<p>Flavor: {{this.flavor}}</p>
<p>Id: {{this.id}}</p>